In [1]:
FILE_PATH ="DS_store/MSFT.csv"

In [3]:
import pandas as pd

In [4]:
df =pd.read_csv(FILE_PATH)

In [5]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-07-06,208.830002,211.130005,208.089996,210.699997,203.416351,31897600
1,2020-07-07,210.449997,214.669998,207.990005,208.250000,201.051056,33600700
2,2020-07-08,210.070007,213.259995,208.690002,212.830002,205.472717,33600000
3,2020-07-09,216.330002,216.380005,211.470001,214.320007,206.911255,33121700
4,2020-07-10,213.619995,214.080002,211.080002,213.669998,206.283691,26177600

In [6]:
df.shape

(1007, 7)

In [7]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [43]:
start_date =df["Date"].head(1).iloc[0]

In [41]:
end_date =df["Date"].tail(1).iloc[0]

In [44]:
print("start_date =",start_date)
print("end_date =",end_date)

start_date = 2020-07-06
end_date = 2024-07-05